#django
/venv/
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.venv
db.sqlite3

#pycharm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
