{% if user.is_authenticated %}

<section class="mt-3 mb-3 container" id="post-list">
    <div class="row">
      <div class="col-md-7 mx-auto">
         <div class="card p-2">
          <div class="card-title text-center">
            <h3>This weeks messages</h3>
          </div>
         <div class="card-body">
           <div class="mb-3" hx-get="{% url 'choose_winner' %}"
                hx-swap="innerHTML settle:1s">
                    <button class="btn btn-success btn-lg btn-block">Choose the winner</button>
            </div>
           <!-- first -->
           {% for post in posts %}
             <div class="alert alert-secondary" role="alert">
              <h5 class="alert-heading">{{ post.post }}</h5>
             {% if user == post.user %}
                <p class="mt-3"><i>From <b>you</b> on {{post.created_at | date:"d M Y" }}</i></p>
             {%  else %}
                <p class="mt-3"><i>From {{post.user.first_name|title}} {{post.user.last_name|title}} on {{post.created_at | date:"d M Y" }}</i></p>
             {% endif %}
              <hr>
              {% if user == post.user %}
                <div class="mt-3" hx-delete = "{% url 'delete-todo' post.id %}"  hx-trigger = "click" hx-target = "#post-list" hx-swap = "innerHTMl" hx-confirm = "Are You sure You wan't to delete: {{ post.post }}"><i class="btn btn-outline-danger bi bi-trash"></i></div>
              {% endif %}
              </div>

          {% endfor %}
         </div>
         </div>
      </div>
    </div>
  </section>

  {% endif %}
